SECRET_KEY=

DEBUG=

# Postgresql
POSTGRES_NAME_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# Celery
CELERY_BROKER_URL=
CELERY_BACKEND=

# Stripe
STRIPE_API_KEY=
STRIPE_PUBLISHABLE_KEY =

# Подключение почты Яндекс
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=